main div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

main div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

main div form div {
  margin: 10px 0 20px 0;
  border: solid 1px #212121;
  border-radius: 10px;
}

main div form label {
  text-transform: uppercase;
  font-family: var(--font-text);
}

main div form input {
  display: flex;
  align-items: center;
  border: none;
  border-right: solid 1px #212121;
  border-radius: 10px 0 0 10px;
  height: 40px;
  width: 200px;
  font-size: 16px;
  font-family: var(--font-text);
  padding: 0 10px;
  position: relative;
}

main div form input:focus {
  border: none;
}

main div form div i {
  align-self: center;
  justify-self: center;
  padding: 10px;
  font-size: 12px;
}

main div form button {
  font-family: var(--font-title);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 5px 0 5px 0;
  font-size: 16px;
  transition: .5s all ease-in-out;
}

main div form button:hover {
  box-shadow: 1px 1px 5px #212121;
  font-weight: bold;
}

main div form button i {
  margin-left: 5px;
}