@font-face {
  font-family:
    Roboto;
  src: url('../fonts/Roboto-Medium.ttf');
  src: url('../fonts/Roboto-MediumItalic.ttf');
  src: url('../fonts/Roboto-Bold.ttf');
  src: url('../fonts/Roboto-Black.ttf');
  src: url('../fonts/Roboto-Regular.ttf');

}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--font-title);
}

a,
button {
  text-decoration: none;
  color: var(--link-color);
}

body {
  background-color: var(--body-bg);
}

:root {
  --body-bg: #FAFAFA;
  --body-color: #212121;
  --link-color: #323232;
  --link-color-hover: #FAC938;
  --primary-color: #FAC938;
  --secondary-color: #FAC938;
  --thirty-color: #EC613D;
  --font-text: monospace;
  --font-link: monospace;
  --font-title: sans-serif;

  /* 
  #26B5D9
  #75DBF4
  #2CCBF2
  #376773
  #22A0BF
   */

  /* 
  #FACA38
  #F4D77F
  #F2C335
  #73653C
  #BF9A2A
  */

  /* 
  #3CC368
  #95F4B5
  #4BF283
  #467355
  #3BBF67
   */

  /* 
   #EC613D
   #F49E89
   #F2633F
   #734A40
   #BF4E32
    */

  /*
  #9549E6
  #C498F4
  #9D4EF2
  #5C4773
  #7C3DBF
  */

  --color-black-800: hsla(0, 0%, 0%, 0);
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
}