/* Estilos main */

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70vh;
  padding: 0;
}

main aside {
  height: 100%;
  width: 30vw;
  /* background-color: red; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main aside h2 {
  margin: 20px 0;
}

main aside div img {
  height: 100%;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main aside div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
}

main div {
  width: calc(70vw - 20px);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
  /* background-color: green; */
}


main div div {
  display: flex;
  flex-direction: row;

}

main div .childrens {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20%;
  margin-top: 20px;
  width: max-content;
}

main div .childrens label {
  text-transform: uppercase;
  font-family: var(--font-text);
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
}

main div .childrens select {
  display: flex;
  align-items: center;
  border: none;
  border-right: solid 1px #212121;
  border-radius: 10px;
  height: 30px;
  width: max-content;
  /* font-size: 16px; */
  font-family: var(--font-text);
  padding: 0 10px;
  position: relative;
}

#handleLevels-btn {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  transition: ease-in-out .2s all;
}

#handleLevels-btn:hover {
  background-color: #fff;
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 1px 3px #212121;
}

/* Gráfico */

main div .graph {
  margin-top: 20px;
  width: 100%;
  height: 80%;
  background-color: transparent;
  position: relative;
}

main div .graph canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* Estilo tabela */

.table {
  display: none;
}

table {
  width: 96%;
  margin: 2% 2% 2% 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  visibility: visible;
  background: #363636;
  color: #f0f0f0;
}

tr {
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 5px;
  display: table-row;
  border-bottom-width: 1px;
  margin-bottom: 0;
}

tr:nth-child(even) {
  background: #D4D4D4;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  text-transform: uppercase;
  font-size: 11px;
}


td {
  display: table-cell;
  text-align: left;
  font-size: 14px;
  border-bottom: none;
}

td:last-child {
  border-bottom: none;
}

/* Estilo do botão do perfil */



aside .actions button {
  font-family: var(--font-title);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 16px;
  transition: .5s all ease-in-out;

  padding: 5% 20%;
  font-weight: 600;
  /* text-shadow: 1px 1px 1px #212121; */
  box-shadow: .25px .25px 2px #212121;
  transition: all .2s ease-in-out
}

aside .actions button i {
  margin-left: 5px;
}

aside .actions button:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 1px 3px #212121;
}